html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181a24;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-method3 {
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.icon-method3 .icon {
  color: #00a1de;
  padding: 1.5rem;
}

.icon-method3 .icon svg {
  max-width: 8rem;
}
